.header {
  height: 4rem;
  background-color: var(--accent-primary);
  color: #FFF;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;  
}

.navItem {
  list-style: none;
}

.navItem:hover {
  cursor: pointer;
  color: var(--accent-text-hover);
}