.header {
  height: 4rem;
  background-color: var(--accent-primary);
  color: #FFF;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header:hover > .title {
  font-size: 1.3rem;
  transition: .5s;  
}

.title {
  font-size: 1.2rem;
  transition: .5s;
}
