
.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.label {
  font-size: 1.3rem;
}

.input {
  max-width: 30rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0 .5rem;
  border: 1.5px solid var(--border-default);
  background-color: inherit;
  border-radius: 5px;
}