.mainContainer {
  margin-top: 2rem;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
}

.cellsContainer {
  display: flex;
  flex-direction: column;
}

.cellsContainer > div > div {
  flex: 1 1 0px;
}

.cellsContainer > div > :nth-child(2) {
  flex-grow: 3;
}