.mainContainer {
  margin-top: 2rem;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
}

.cellsContainer {
  display: flex;
  flex-direction: column;
}

.cellsContainer > tbody > tr > td {
  flex: 1 1 0px;
}

.cellsContainer > tbody > tr > :nth-child(2) {
  flex-grow: 3;
}

.cellsContainer > thead > tr > th {
  flex: 1 1 0px;
}

.cellsContainer > thead > tr > :nth-child(2) {
  flex-grow: 3;
}