
.button {
  padding: .5rem 1rem;
  font-size: .9rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.button:hover {
  cursor: pointer;
}

.buttonFilled {
  background-color: var(--accent-primary);
  color: #FFF;
}

.buttonFilled:hover {
  background-color: var(--accent-hover);
}

.buttonFilled:active {
  background-color: var(--accent-primary);
}

.buttonTransparent {
  background-color: transparent;
  color: var(--accent-primary);
  border: 1px solid var(--accent-primary);
}

.buttonTransparent:hover {
  background-color: var(--accent-primary);
  color: #FFF;
  transition: .8s;
}

.icon {
  width: 1rem;
}