.tabContainer {
  height: 4rem;
  padding: 0 var(--side-margin);
  background-color: var(--bg-secondary);
  list-style: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.tabItemContainer {
  height: 100%;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabItemContainer:hover {
  cursor: pointer;
  color: rgb(122, 122, 122);
}

.tabItemContainerActive {
  border-bottom: 2px solid var(--accent-primary);
  margin-bottom: -2px;
}

.tabItem {
  border: none;
  background: none;
  font-size: inherit;
  color: inherit;
  cursor: inherit;
}