@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-main: #FFFFFF;
  --bg-secondary: #F5F5F5;
  --bg-card: #E5E5E5;

  --text-black-primary: #1F1F1F;
  --text-black-secondary: #525252;
  --text-black-disabled: #A3A3A3;

  --accent-primary: #6D5BD0;
  --accent-hover: #5A4BC4;     
  --accent-active: #4C3FA8;

  --accent-soft: #c2b9e6;

  --accent-text: #FFF;
  --accent-text-hover: rgb(217, 217, 217);

  --side-margin: 8rem;
}